{% include "includes/header.html" %}
{% load static %}

<main>

  <div class="course-page">

    <!-- Titre du cours -->
    <div class="course-header">
      <h1>XGboost</h1>
      <p>Matière : Machine Learning | Semestre 5</p>
    </div>

    <!-- Section infos -->
    <section class="course-section">
      <h2>Détails du cours</h2>
      <ul>
        <li><b>Professeur :</b> Jean-Marc Lasgouttes, Inria de Paris</li>
        <li><b>Langue :</b> Français</li>
      </ul>
    </section>

    <!-- Section caractéristiques -->
    <section class="course-section">
      <h2>Caractéristiques</h2>
      <ul>
        <li>Comprendre le principe du boosting et XGBoost</li>
        <li>Apprentissage supervisé</li>
        <li>Classification et régression</li>
        <li>Applications sur données réelles avec optimisation des performances</li>
      </ul>
    </section>

    <!-- Section PDF -->
    <section class="course-section pdf-section">
      <h2>Support du cours (PDF)</h2>

      <iframe 
        src="{% static 'pdfs/cours/XGB_cours.pdf' %}"
        class="pdf-viewer">
      </iframe>

      <div class="download-btn">
        <a href="{% static 'pdfs/cours/XGB_cours.pdf' %}" download>
        <button>Télécharger le PDF</button>
        </a>
        </div>
    </section>

  </div>

</main>

{% include "includes/footer.html" %}
